/*GO PICASSO LIGHT MODE SETTINGS*/
body{
    background-color:lavender;
    margin:0;
    padding:30px;
    overflow:hidden;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}


/*GO PICASSO DARK MODE SETTINGS*/
body.dark-mode{
    background-color:black;
}

body.dark-mode h1{
    color:white;
}

canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor:pointer;
}

h1{
    display:flex;
    justify-content: center;
    color:black;
    margin-bottom:5px;
}

.tools{
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin-top:15px;
}

.tools .color-field{
    height:40px;
    width: 40px;
    min-height:40px;
    min-width:40px;
    cursor: pointer;
    display: inline-block;
    box-sizing:border-box;
    border-radius: 50%;
    border:2px solid white;
    align-self:center;
    margin:0 15px;
}

.tools .button{
    align-self:center;
    width:100px;
    height:40px;
    cursor:pointer;
    background-color: rgb(73, 72, 72);
    border:3px solid white;
    border-radius:13px;
    font-family: 'Montserrat', sans-serif;
    color:white;
    font-size:20px;
    font-weight:bold;
    margin:0 15px;
}

/*HIDES THE CHECKBOX*/
 .switch input{
    opacity:0;
}

/*toggle button background*/
.tools .toggle-btn{
    width: 80px;
    height: 40px;
    margin:0 15px 30px 30px;
    background:rgb(121, 173, 241);
    border:3px solid white;
    align-self:center;
    position:relative;
    border-radius:20px;
    box-shadow: inset 0 3px 10px rgba(0,0,0,.3);
    cursor: pointer;
}

/*FONT AWESOME ICONS*/
.fa-sun{
    color:yellow;
    margin-left: 20px;
    margin-top:10px;
}
.fa-moon{
    color:yellow;
    margin-left:5px;
}

/*toggle button*/
.toggle-btn:before{
    content:'';
    position:absolute;
    height:36px;
    width:36px;
    background: linear-gradient(white, #f2f2f2);
    left:2px;
    top:2px;

    /*animates the button*/
    transition:all 150ms ease-out;

    border-radius:50%;
    box-shadow:0 8px 6px -4px rgba(0,0,0, .25);
}

/*targets the psudo element*/
 input[type="checkbox"]:checked +.toggle-btn:before{
    left:42px;
}

/*targets the container*/
input[type="checkbox"]:checked +.toggle-btn{
    background:black;
}

.color-picker{
    margin:0 15px;
    align-self:center;
    height:50px;
}

.pen-range{
    margin: 0 15px;
    align-self:center;
}