body{
    background-color: ivory;
    margin:0;
    padding:30px;
    overflow:hidden;
    font-family: 'Montserrat', sans-serif;
}



canvas{
    box-shadow: -3px 2px 9px 6px black;
    cursor:pointer;
}

h1{
    display:flex;
    justify-content: center;
    color:black;
}

.tools{
    display:flex;
    justify-content:center;
    flex-direction:row;
    margin-top:15px;
}

.tools .color-field{
    height:40px;
    width: 40px;
    min-height:40px;
    min-width:40px;
    cursor: pointer;
    display: inline-block;
    box-sizing:border-box;
    border-radius: 50%;
    border:2px solid black;
    align-self:center;
    margin:0 15px;
}

.tools .button{
    align-self:center;
    width:100px;
    height:40px;
    border: 2px solid white;
    cursor:pointer;
    background-color: black;
    color:white;
    font-weight:bold;
    margin:0 15px;
}

.color-picker{
    margin:0 15px;
    align-self:center;
    height:50px;
}

.pen-range{
    margin: 0 15px;
    align-self:center;
}